$main-color = #A695d6
$main-color-resalted = #7868a6
//$main-text-color = $main-color
$main-btn-color = #A69546
$main-btn-color-hover = #e3cc5f


@import '../../../../lib/site/boot/boot'

@import '../../*/styles'
@import '../*/styles'

@import 'global'