a
  color: $main-color
  
// estos botones son los de fondo de color y letras blancas
.btn-primary
  background-color: $main-btn-color
  
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.focus,
.btn-primary.active
  background-color: $main-btn-color-hover
  
// estos botones son los de fondo gris y texto de color
.btn-link
  color: $main-color
  
.btn-link:hover,
.btn-link:focus
  color: $main-color-resalted

// breadcrumb del "help" de la página
.breadcrumb a
  color: $main-color
  
// aparece en sección "help" de la página, fondos del menú izquierdo
.page-sidebar .nav-pills > li.active > a,
.page-sidebar .nav-pills > li.active > a:hover,
.page-sidebar .nav-pills > li.active > a:focus
  background-color: $main-color
  
// iconitos de fb y tw en las cajas de los topics en la home
a.icon-social-facebook, a.icon-social-twitter
  color: $main-color